 <!-- Navbar -->
  <!--header class="navbar">
    <a class="btn-outline" [routerLink]="['']"><h2>AI Writer Pro</h2></a>
    <a class="btn-outline" *ngIf="!isLoggedIn()" [routerLink]="['/register']">Register</a>
    <a class="btn-outline" *ngIf="!isLoggedIn()" [routerLink]="['/login']"> Login</a>
    <ng-container *ngIf="isLoggedIn()">
        <a class="link" (click)="logout()" [routerLink]="['']"> Logout</a>  
      <a class="link" [routerLink]="['/history']"> History</a>
      <a class="link" [routerLink]="['/generatecontent']">Generate Content</a>
    </ng-container>
    
  </header-->




  <header class="navbar">

  <!-- LEFT SIDE (Logo) -->
  <div class="nav-left">
    <a class="logo" [routerLink]="['']">
      <h2>AI Writer Pro</h2>
    </a>
  </div>

  <!-- RIGHT SIDE (Links) -->
  <div class="nav-right">

    <ng-container *ngIf="!isLoggedIn()">
      <a class="btn-outline" [routerLink]="['/register']">Register</a>
      <a class="btn-outline" [routerLink]="['/login']">Login</a>
    </ng-container>

    <ng-container *ngIf="isLoggedIn()">
      <a class="link" [routerLink]="['/history']">History</a>
      <a class="link" [routerLink]="['/generatecontent']">Generate Content</a>
      <a class="link" (click)="logout()">Logout</a>
    </ng-container>

  </div>

</header>
